:root{
    --blanco:#ffffff;
    --obscuro:#212121;
    --primario:#00abfb;  
    --secundario:#ffc107;
    --gris:#757575;
}

html {
    font-size: 62.5%;
}

body{   
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;  
}

span {
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--primario);
}

.navegacion {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.contenido {
    width: 120rem;
    margin: 0 auto; 
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
}